remimi @ git+https://github.com/xiong-jie-y/remimi.git#egg=remimi
opencv-python
click
open3d
numpy
scikit-spatial
cupoch
mmdet @ git+https://github.com/xiong-jie-y/mmdetection.git#egg=mmdet
pydub
pyrealsense2
gdown